@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --padding-site: 3.65rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-josefin);
  --font-body: var(--font-euclid);
  --spacing-site: var(--padding-site);
 
}

body {
  background: var(--background);
  color: var(--foreground);
}
