@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-josefin);
  --font-body: var(--font-euclid);
 
}

body {
  background: var(--background);
  color: var(--foreground);
}
